@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-dark: #0a0a0a;
  --text-light: #f3f4f6;
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}